<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Humble</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
</head>
<header>
  <h1>
    <a href="/">Humble</a>
  </h1>
  <nav>
    {{#if loggedIn}}
    <a href="/dashboard">account</a>
    <button id="logout" class="btn-no-style">logout</button>
    {{else}}
    <a href="/login">login</a>
    {{/if}}
  </nav>
</header>

<body>
  <div class="wrapper">
    <main>
      {{{ body }}}
    </main>
    <footer>
      Happy Roasting!
    </footer>
  </div>
  <script src="/javascript/logout.js"></script>
</body>

</html>