<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Humble</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
</head>
<header>
  <h1>
    <a href="/">Humble</a>
  </h1>
  <nav>
    <a href="/dashboard">dashboard</a>
    <button id="logout" class="btn-no-style">logout</button>
    <a href="/login">login</a>
  </nav>
</header>

<body>
  <div class="wrapper">
    <header>
      <h1>Feed</h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Happy Roasting!
    </footer>
  </div>
  <script src="/javascript/logout.js"></script>
</body>

</html>