<section>
  <h2>Create New Post</h2>

<<<<<<< HEAD
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="url-post">Link</label>
      <input id="user-post" name="post-url" />
=======
  <form id="post-form" class="new-post-form" enctype="multipart/form-data" method="POST" action="/api/posts">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" />
    </div>
    <div>
      <label for="image">Upload a photo</label>
      <input type="file" id="image" name="image" accept=".jpg,.jpeg,.png">
>>>>>>> 72fc35d98361ef8ed23c94339bebcbd9c482229c
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
<<<<<<< HEAD
=======
      <img src="{{post.image}}">
>>>>>>> 72fc35d98361ef8ed23c94339bebcbd9c482229c
    </li>
    {{/each}}
  </ol>
</section>
<<<<<<< HEAD
{{/if}}

<script src="/javascript/add-post.js"></script>
=======
{{/if}}
>>>>>>> 72fc35d98361ef8ed23c94339bebcbd9c482229c
