<div class="delete-confrim">
<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Would you like to delete your post?
  </h2>
  <form class="edit-post-form">
    <button type="button" class="delete-post-btn">YES</button>
  </form>
</article>
</div>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>